/*---
layout: with-navbar.hbs
name: home
head: |
  <link href="/style/index.css" rel="stylesheet" />
---*/

<style>
  {{#traverse areas children="sections"}}
    {{#if isImageBackground}}
    #{{id}}::before {
      background-image: url({{& backgroundImagePreview}});
      {{#if backgroundImageOffset}}background-position-y: {{ backgroundImageOffset }};{{/if}}
      {{#if backgroundImageFilter}}filter: {{ backgroundImageFilter }};{{/if}}
    }
    #{{id}}::after {
      background-image: url({{& backgroundImage}});
      {{#if backgroundImageOffset}}background-position-y: {{ backgroundImageOffset }};{{/if}}
      {{#if backgroundImageFilter}}filter: {{ backgroundImageFilter }};{{/if}}
    }
    {{else if isVideoBackground}}
    #{{id}}::before {
      background-image: url({{& backgroundVideoPreview}});
      {{#if backgroundVideoOffset}}background-position-y: {{ backgroundVideoOffset }};{{/if}}
      {{#if backgroundVideoFilter}}filter: {{ backgroundVideoFilter }};{{/if}}
    }

    #{{id}} video {
      {{#if backgroundVideoFilter}}filter: {{ backgroundVideoFilter }};{{/if}}
    }
    {{/if}}
  {{/traverse}}
</style>
<main>
  {{#each areas}}
  <article>
    <div id="{{id}}" class="{{class}} {{#if isImageBackground}}image-background-section{{/if}} {{#if isVideoBackground}}video-background-section{{/if}}">
      <h2>{{title}}</h2>
      {{{content}}}
    </div>
    {{#each sections}}
      <section id="{{id}}" class="{{class}} {{#if isImageBackground}}image-background-section{{/if}} {{#if isVideoBackground}}video-background-section{{/if}}">
        <h3>{{title}}</h3>
        {{{content}}}
        {{#if isVideoBackground}}
          <video id="{{id}}_video" autoplay muted loop>
            <source src="{{& backgroundVideo}}" type="video/mp4">
          </video>
        {{/if}}
      </section>
    {{/each}}
  </article>
  {{/each}}
</main>
